*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #4d4e4f;
  color: azure;
  font-family: sans-serif;
}

header {
  margin: 50px auto;
}

h1 {
  text-align: center;
}

#container {
  margin: 0 auto;
  height: 600px;
  width: 80%;
  border: 3px solid rgb(93, 195, 195);
}
